<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <!-- <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="navbar-fixed-top navbar-expand-lg" role="navigation" >
        <div >
          <ul class="nav navbar-nav" >

            
              <li  style="padding: 10px;" >
               <a routerLink="/addproducts" class="navbar-brand" style="text-decoration: none;" *ngIf="_auth.loggedIn()" >Add Products</a>
              
              </li>

              <!-- <li  style="padding: 10px;" >
                <a routerLink="/validate" class="navbar-brand" style="text-decoration: none;" >Verify Products</a> -->
              <li  style="padding: 10px;" >
                <a routerLink="/validate" class="navbar-brand" style="text-decoration: none;" *ngIf="_auth.loggedIn()" >Verify Products</a>
                
              </li>
              
              <!-- <li  style="padding: 10px;"  >
                <a routerLink="/checkreview" class="navbar-brand" style="text-decoration: none;" *ngIf="_auth.loggedIn()" >Check Review</a>
              </li> -->
              <li  style="padding: 10px;"  >
                <a routerLink="/user" class="navbar-brand" style="text-decoration: none;" *ngIf="_auth.loggedIn()"  >User</a>
              </li>
              
              <li   style="padding: 10px;"  >
                <a routerLink="/login" class="navbar-brand" style="text-decoration: none;" *ngIf="_auth.loggedIn()" (click)="logoutUser()">Log Out</a>
              </li>
              <li   style="padding: 10px;"  >
                <a routerLink="/login" routerLinkActive="active" class="navbar-brand" *ngIf="!_auth.loggedIn()" style="text-decoration: none;">Log In</a>
              </li>
              <li   style="padding: 10px;"  >
                <a routerLink="/register" class="navbar-brand" style="text-decoration: none;" *ngIf="!_auth.loggedIn()">Register</a>
              </li>
              
              
              
            </ul>
        </div>
      
      
    </nav>
  </div>
</header>